
.signup-container{
    width:400px;
    padding : 50px;
    margin-top: 120px;
    border-radius: 10px;
    background: #3AAFA9;
}
.custom-drop{
    background: #343A40;
}
.custom-drop a{
    color:#FFF;   
}
.custom-drop a:hover{
    background: #DEF2F1;
}



